* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 3rem;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 2rem;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.imagem-perfil {
    display: flex;

    width: 11rem;
    height: 17rem;

    border-radius: 3.5rem;
}